extends layout
block head
  script(src='javascripts/gui.js')
  script(src='javascripts/ajax.js')
block content
  // Navigation bar
  div.w3-bar.w3-theme.w3-large
    a.w3-bar-item.w3-button.w3-hover-white(href="/")
      span.fas.fa-home
    span.w3-bar-item.w3-wide Ajustes
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/users/logout")
      span.fas.fa-sign-out-alt
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(
    href="/records")
      span.fas.fa-search
  // Content
  div.w3-auto
    div.w3-section.w3-card-4
      h1.w3-theme.w3-padding Datos Profesionales 
      form#formaProfesional.w3-container(method='POST' action='/ajaxapis/dataprofesional' onsubmit='almacenarDatosProfesionales(event)')
        input.w3-input.w3-section(name="grado" type="text" value=`${grado ? grado : ''}`
        placeholder="GRADO ACADEMICO (Dr./Mg. S./etc") 
        input.w3-input.w3-section(name="nombre" type="text" value=`${nombre ? nombre : ''}` placeholder="Nombre")
        input.w3-input.w3-section(name="apellido" type="text" value=`${apellido ? apellido : ''}` placeholder="Apellido")
        input.w3-input.w3-section(name="especialidad" type="text" value=`${especialidad ? especialidad : ''}` placeholder="Especialidad")
        input.w3-input.w3-section(name="credencial1" type="text" value=`${credencial1 ? credencial1 : ''}` placeholder="Ejemplo: CI:11.886.089)")
        input.w3-input.w3-section(name="credencial2" type="text" value=`${credencial2 ? credencial2 : ''}` placeholder="Ejemplo: MPPS.59808")
        input.w3-input.w3-section(name="credencial3" type="text" value=`${credencial3 ? credencial3 : ''}` placeholder="Ejemplo: COMEZU.11293")
        button.w3-button.w3-blue.w3-section(
        type='submit') Almacenar
        button.w3-button.w3-section.w3-margin(type='reset') Reset
    div.w3-section.w3-card-4
      h1.w3-theme.w3-padding Firma Electrónica
      form.w3-container
        input.w3-input(name="firma" type="file" disabled)
        button.w3-button.w3-blue.w3-section.w3-right(type='submit' disabled) Almacenar
  include panelinfo.pug
