doctype html
html
  head
    meta(meta http-equiv="Content-Type" content="text/html;charset=utf-8")
    style.
      @media only screen {
        .button {
          display: block;
        }
      }
      @media print {
        .noprint {
          display: none;
        }
        table {
          page-break-inside: avoid
        }
        h1, h2, h3 {
        page-break-after: avoid;
        }
        p {
          page-break-before: avoid;
          white-space: pre-wrap;
          text-align: justify;
        }
        table, img, ul, ol {
          page-break-inside: avoid;
        }
      }
      @page {
        margin: 2cm;
        size: letter;
      }
      body {
        max-width: 680px;
        margin: auto;
        font-family: Verdana,sans-serif;
        font-size: 15px;
        line-height: 1.5
      }
      p {
        white-space: pre-wrap;
        text-align: justify;
      }

  //Some Code
  -
    var hoy = new Date();
    const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    let nacimiento = new Date(paciente.fdn);
    let años = hoy.getFullYear() - nacimiento.getFullYear();
    let ajuste = hoy.getMonth() >= nacimiento.getMonth() && hoy.getDate() >= nacimiento.getDate() ? 0 : -1;
    let edad = años + ajuste;
    let evaluacion = new Date(paciente.stamp);
  // Content
  body(style='max-width: 680px; margin: auto; font-family: Verdana,sans-serif; font-size: 15px; line-height: 1.5')
    hr(style='border-top: 6px solid DodgerBlue')
    span(style='float:right; clear: left') Informe: #{`${hoy.getDate()} de ${meses[hoy.getMonth()]} de ${hoy.getFullYear()} `} <br>
    span(style='float:right; clear: right') Consulta: #{`${evaluacion.getDate()} de ${meses[evaluacion.getMonth()]} de ${evaluacion.getFullYear()} `}<br>
    h1(style='clear: both; text-align: right') Informe Médico
    ul(style='text-transform: capitalize')
      li Id:&nbsp; #{paciente.id}
      li Nombre:&nbsp; #{paciente.nombre}&nbsp;#{paciente.apellido}
      li Edad:&nbsp; #{edad} años
    hr(style='border-top: 6px dashed DodgerBlue; width: 30%; margin-left: 0' )
    h3(style='page-break-after: avoid') Motivo de consulta
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.enfactual}
    h3(style='page-break-after: avoid') Antecedentes
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.antecedentes}
    h3(style='page-break-after: avoid') Examen Físico
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.exfisico}
    h3(style='page-break-after: avoid') Exámenes Complementarios
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.excomple}
    h3(style='page-break-after: avoid') Diagnósticos
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.diagnostico}
    h3(style='page-break-after: avoid') Tratamiento
    p(style='page-break-before: avoid; white-space: pre-wrap; text-align: justify') #{paciente.tratamiento}
    
    

    include piecorreo.pug      
