div#modalInput.w3-modal
  div.w3-modal-content.w3-animate-zoom
    span.w3-button.w3-right(
    onclick="document.getElementById('modalInput').style.display='none'"
    style=''
    ) &times;
    h3.w3-text-theme.w3-padding Nueva Nota
    
    div.w3-row-padding
      
      form(id='noteForm' method='POST' action='/records/storenote')
      div.w3-half.w3-margin-bottom
        input.w3-hide(name='id' form='noteForm' value=`${id}`)
        label.w3-text-blue Enfermedad Actual
        textarea.w3-input.w3-border(
        name='enfactual' form='noteForm' rows='6')
        label.w3-text-blue Examen Físico
        textarea.w3-input.w3-border(
        name='exfisico' form='noteForm' rows='6')
        label.w3-text-blue Exámenes Complementarios
        textarea.w3-input.w3-border(
        name='excomple' form='noteForm' rows='6')
      div.w3-half.w3-margin-bottom
        label.w3-text-blue Diagnósticos
        textarea.w3-input.w3-border(
        name='diagnosticos' form='noteForm' rows='6')
        label.w3-text-blue Tratamiento Sugerido
        textarea.w3-input.w3-border(
        name='tratamiento' form='noteForm' rows='6')
        input.w3-button.w3-blue.w3-section.w3-right(
        form='noteForm' type='submit' value='Submit') 