div#modalNote.w3-modal
  div.w3-modal-content.w3-animate-zoom
    span.w3-button.w3-right.w3-hover-white.w3-theme(
    onclick="document.getElementById('modalNote').style.display='none'") &times;
    h1.w3-padding.w3-theme Ingresar Nota
    div.w3-container
      span.capital #{nombre}&nbsp;#{apellido}, #{edad} años
    form#noteForm(method='POST' action='/records/storenote')
    div.w3-row-padding
      div.w3-half.w3-section
        input(name='id' form='noteForm' value=`${id}` hidden)
        label: b Enfermedad Actual
        textarea.w3-input.w3-border(name='enfactual' form='noteForm' rows='6' autofocus)
        label: b Examen Físico
        textarea.w3-input.w3-border(name='exfisico' form='noteForm' rows='6')
        label: b Exámenes Complementarios
        textarea.w3-input.w3-border(name='excomple' rows='6' form='noteForm' ) 
      div.w3-half.w3-section
        label: b Diagnósticos
        textarea.w3-input.w3-border(name='diagnostico' form='noteForm' rows='6')
        label: b Tratamiento Sugerido
        textarea.w3-input.w3-border(name='tratamiento' rows='6' form='noteForm')
        p: button.w3-button.w3-blue(type='submit' form='noteForm') Guardar
        div.w3-tooltip
          button.w3-button.w3-red(type='button' form='noteForm' onclick='recuperarNota(event)') Recuperar
          span.w3-text &nbsp;Perdió los datos ?
script.
  let nota = document.querySelector('#modalNote');
  nota.addEventListener('keydown', respaldarNota);

