extends layout
block head
  script(src='javascripts/gui.js')
block content
  //Navigation bar
  div.w3-bar.w3-theme.w3-large.noprint(style='position: sticky; top: 0')
    a.w3-bar-item.w3-button.w3-hover-white(href="/")
      span.fas.fa-home
    span.w3-bar-item.w3-wide Nuevo Registro
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="#")
      span.fas.fa-sign-out-alt
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/ajustes")
      span.fas.fa-user-cog
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/records")
      span.fas.fa-search
  //Content
  div.w3-auto.w3-padding
    form.w3-padding.w3-section.w3-card-4.w3-theme-l3(
    method='POST' action='/records/storerecord')
      i.fas.fa-user-plus.w3-block.w3-center.w3-jumbo.w3-text-blue
      label: b Id
      input.w3-input.w3-margin-bottom(name='id' type='number'
      readonly value=`${id}`)
      label: b Nombre
      input.w3-input.w3-margin-bottom(name='nombre' type="text"
      autocomplete='off' required autofocus)
      label: b Apellido
      input.w3-input.w3-margin-bottom(name='apellido' type="text"
      autocomplete='off' required)
      label: b Fecha de Nacimiento
      input.w3-input.w3-margin-bottom(name='fdn' type="date" required)
      label: b Teléfono
      input.w3-input.w3-margin-bottom(name='tel' type="tel"
      pattern="[0-9]{3}-[0-9]{7}" autocomplete='off' required
      placeholder="Example: 123-1234567")
      label: b Email
      input.w3-input.w3-margin-bottom(name='email' type="email"
      autocomplete='off' required)
      label: b Antecedentes
      ul.w3-small
        li Patológicos: HTA, Diabetes, Ca próstata familiar, otras
        li Quirúrgicos
        li Ginecológocos
        li Urológicos: litiasis, cateterismo, hematuria, otros
        li Medicaciones y Alergias
        li Hábitos y Ocupación
      textarea.w3-input(name='antecedentes' rows='8' style="resize: none")
      button.w3-button.w3-section.w3-round.w3-blue(type="submit") Guardar
  include panelinfo.pug
  script.
    window.onload = panelInformativo;
    
      
      