//Server messages holder
span#message(style='display: none') #{message}
span#details(style='display: none') #{details}
//span#type(style='display: none') #{messageType}
//span#msg(style='display: none') #{message}
//Panel Info
div#info.w3-panel.w3-border.w3-round.w3-animate-bottom(
style="display: none; opacity: 1; position: fixed; width: 80%; bottom: 0; left: 10%; transition: opacity 2s")
    h3(style='color: white') 
    p(style='color: white')  