// Foot
table.w3-table.w3-tiny.print
  tr
    td(colspan='2')
      hr(style='border-top: 3px solid DodgerBlue')
  tr
    td #{doctor.grado || 'DATOS NO CONFIGURADOS !'}&nbsp;#{doctor.nombre}&nbsp;#{doctor.apellido}<br>
      |#{doctor.especialidad}<br>
      |#{doctor.credencial1} #{doctor.credencial2} #{doctor.credencial3}
    td: img#firma(width='120px' height='60px')
hr.print