// Foot
table.print(style="width: 100%; border: 1px solid; border-collapse: collapse; line-height: normal")
  tr
    td(style="width: 33%; text-align: center; font-size: small") #{doctor.nombre}&nbsp;#{doctor.apellido}<br>
      |#{doctor.especialidad}<br>
      |#{doctor.credencial1} #{doctor.credencial2} #{doctor.credencial3}
      //|#{doctor.credencial2}<br>
      //|#{doctor.credencial3}<br>
    td(style="width: 33%; border-left: 1px solid") 
    td(style="width: 33%; border-left: 1px solid") 
hr.print