// Foot
hr.print(style='height: 5px; background-color: DodgerBlue; margin-bottom: 0; margin-top: 0')
table.w3-table.w3-tiny.print
  tr
    th Médico Tratante
    th Firma
  tr
    td #{doctor.grado || 'DATOS NO CONFIGURADOS !'}&nbsp;#{doctor.nombre}&nbsp;#{doctor.apellido}<br>
      |#{doctor.especialidad}<br>
      |#{doctor.credencial1} #{doctor.credencial2} #{doctor.credencial3}
    td: img#firma(src='' width='120px' height='60px')
hr.print