extends layout
block head
  link(rel='stylesheet' href='/stylesheets/mystyles.css')
  script(src='/javascripts/gui.js')
block content
  //Navigation bar
  div.w3-bar.w3-theme.w3-large.noprint(style='position: sticky; top: 0')
    a.w3-bar-item.w3-button.w3-hover-white(href="/")
      span.fas.fa-home
    span.w3-bar-item.w3-wide Historia Clínica
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/users/logout" title='Salir')
      span.fas.fa-sign-out-alt
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/ajustes" title='Ajustes')
      span.fas.fa-user-cog
    a.w3-bar-item.w3-button.w3-right.w3-hover-white(href="/records" title='Buscar registro')
      span.fas.fa-search
  // Some code
  -
    var hoy = new Date();
    const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    let nacimiento = new Date(fdn);
    let años = hoy.getFullYear() - nacimiento.getFullYear();
    let ajuste = hoy.getMonth() >= nacimiento.getMonth() && hoy.getDate() >= nacimiento.getDate() ? 0 : -1;
    let edad = años + ajuste;
    //let evaluacion = new Date(stamp);
  // Printer Only
  header.print
    hr(style='border-top: 6px solid DodgerBlue; margin-top: 0')
    span.w3-block.w3-right-align #{`${hoy.getDate()} de ${meses[hoy.getMonth()]} de ${hoy.getFullYear()} `}
    h1.w3-right-align Informe Médico
  // Content
  div.w3-content.w3-padding(style='max-width: 680px')
    ul.w3-ul.w3-section.w3-card-4.w3-large
      li
        span.fas.fa-fingerprint
        span#patientId.w3-margin #{id}
      li.capital
        span.far.fa-user
        span.w3-margin #{nombre}&nbsp;#{apellido}
      li
        span.far.fa-clock
        span.w3-margin #{edad}&nbsp;años
      li
        span.far.fa-envelope
        span.w3-margin #{email} 
      li
        span.fas.fa-mobile-alt
        a.w3-margin(href=`tel:${tel}`) &nbsp;#{tel}
    div#divNotas
      // Conditional Section
      - if (notas.length == 0)
        section.w3-tooltip.noprint
            h1.w3-show-inline-block.w3-margin.fas.fa-info-circle.w3-text-blue
            h1.w3-show-inline-block.w3-margin Desea crear una nota evolutiva ?
            h2.w3-text.w3-block - Presione el lápiz para crearla
      // ... Content
      - for (let x = 0; x < notas.length; x++)
        - let fecha = new Date(notas[x].stamp);
        div(style='display: none')
          h4.w3-theme.noprint
            span.far.fa-calendar.w3-margin-left.w3-animate-right
            span.w3-margin-left.w3-animate-opacity #{`${fecha.getDate()}-${meses[fecha.getMonth()]}-${fecha.getFullYear()}`}
          //Printer only
          h4.print
            span.far.fa-calendar.w3-margin-left
            span.w3-margin-left #{`${fecha.getDate()}-${meses[fecha.getMonth()]}-${fecha.getFullYear()}`}
          // ... Content
          h4 Enfermedad Actual
          p(style="text-indent: 10pt") #{ notas[x].enfactual }
          h4 Antecedentes
          p #{antecedentes}
          h4 Examen Físico
          p #{ notas[x].exfisico }
          h4 Exámenes Complementarios
          p #{ notas[x].excomple }
          h4 Diagnósticos
          p #{ notas[x].diagnostico }
          h4 Tratamiento
          p #{ notas[x].tratamiento }
    //Pie
    include pieinforme.pug
  // Pagination of notes
  div#paginador.w3-bar.w3-center.noprint(onclick='cambiarPagina(event)' style="position: fixed; bottom: 20px;")
    span.fas.fa-angle-double-left.w3-margin-right(title=`Shift + Left`)
    - for (let x = 0; x < notas.length ; x++)
      a.w3-button.w3-hover-white(href='javascript: void(0)') #{x+1}
    span.fas.fa-angle-double-right.w3-margin-left(title=`Shift + Right`)
  // Floating Buttons
  a.w3-circle.w3-button.w3-blue.w3-large.noprint(href='/records' style='position: fixed; top: 30%; right: 5%' title='Buscar registro')
    span.fas.fa-search
  button.w3-circle.w3-button.w3-blue.w3-large.noprint(style='position: fixed; top: 40%; right: 5%' onclick='document.getElementById("modalNote").style.display = "block"' title='Crear nota')
    span.fas.fa-pencil-alt
    span.w3-text
  a.w3-circle.w3-button.w3-blue.w3-large.noprint(style='position: fixed; top: 50%; right: 5%' onclick='window.print()' title='Imprimir')
    span.fas.fa-print
  a.w3-circle.w3-button.w3-blue.w3-large.noprint(style='position: fixed; top: 60%; right: 5%' href='javascript: void(0)' onclick='document.getElementById("modalMailer").style.display = "block"' title='Enviar Correo')
    span.far.fa-envelope
  // Includes
  include newnote.pug
  include mailer.pug
  include panelinfo.pug

  script.
    window.onload = function() {
      document.querySelector('body').classList.toggle('w3-theme-l4');
      paginarNotas();
      panelInformativo();
      cargarFirma();
      
    }
    window.onbeforeprint = function() {
      document.querySelector('body').classList.toggle('w3-theme-l4');
    }
    window.onafterprint = function() {
      document.querySelector('body').classList.toggle('w3-theme-l4');
    }
    document.onkeydown = paginadorTeclas;



