extend layout
block content
  //Navigation bar
  div(class="w3-bar w3-theme w3-large")
    a(href="/" class="w3-bar-item w3-button material-icons"
    style="font-size: 27px") home
    a(href="#" class="w3-bar-item w3-button") 
    a(href="#" class="w3-bar-item w3-button") 
  //Registration Form
  form(name='userRegister' class='w3-container w3-section'
  style="width: 50vw; margin: auto" method='POST' 
  action='/users/storeuser' onkeyup='checkPassword(event)') 
    h1(class='w3-text-blue') User Registration
    p
      label: b Name  
      input(name="name" class='w3-input w3-border' type='text' required autofocus)
    p
      label: b Last Name
      input(name="lastname" class='w3-input w3-border' type='text' required)
    p
      label: b Email
      input(name="email" class='w3-input w3-border' type='email' 
      required)
    p  
      label: b Password
      input(name="password" class='w3-input w3-border' type='password'
      onkeyup='' required)
    p
      label: b Confirm Password
      input(name="confirmpassword" class='w3-input w3-border' type='password'
      onkeyup='' required)
    input(class='w3-button w3-blue' type='submit'
    value='Submit')
